<?xml version="1.0"?>
    <config>
        <modules>
            <Canalweb_Selection>
              <version>1.0.0</version>
            </Canalweb_Selection>
        </modules>
        <global>
            <blocks>
                <selection>
                    <class>Canalweb_Selection_Block</class>
                </selection>
            </blocks>
            <models>
                <selection>
                    <class>Canalweb_Selection_Model</class>
                </selection>
            </models>
        </global>
    </config>
